:root {
    --flexBasisDevide: 69;
  }
  
h1{
    text-align: center;
    margin: 0.5rem;
}
.container{
    margin: 0 auto;
    display: flex;
    width: 575px;
    height: 575px;
    align-items: stretch;
    flex-wrap: wrap;

}

.submit-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.submit-block label, input{
    width: 175px;
    text-align: center;
}

button{
    width: 182.2px
}

.boxes{
    background-color: #C9CBCA;
    /* width: 60px; */
    flex-grow: 1;
    flex-basis: calc(100% / var(--flexBasisDevide));
    /* https://www.reddit.com/r/Frontend/comments/1305h8t/how_to_make_flex_show_an_equal_number_of_items/ */
    /* https://sanjeebaryal.com.np/flexbox-making-x-items-per-row/ */
    border: 1px solid #787a79;
}

/* .boxes:hover{
    background-color: blue;
} */